<footer class="footer">
  <small>
	<a>
	 <%= link_to image_tag("R.png", alt: "R")+"eservester",'#', id: "logo" %>
    </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>